.item {
  min-width: 10rem;
  max-width: 20rem;

  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 2rem;

  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(#000, 0.15);
  transition: all 0.2s;
}
